TOPIC - LISTS AND TUPLES IN PYTHON

- list are denoted by '[ ]' brackets.
- list are ordered, mutable and allow duplicate values.
- list are built-in data structures
- list stores elements of different data types like integer , float , string, etc.

In [ ]:
# creating a list
marks = [22,23,56,45,55]
print(marks)
print(type(marks))

[22, 23, 56, 45, 55]
<class 'list'>

In [5]:
student = ["karan" , 95.6 ,15 , "Azamgarh"]
print(student)
student[0] = "arjun"
print(student)

['karan', 95.6, 15, 'Azamgarh']
['arjun', 95.6, 15, 'Azamgarh']